*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}


a{
    color: inherit;
    text-decoration: none;
}


.medsos{
    padding:5px 0;
    background-color: #00091a;
    color: white;

}

.medsos ul li{
    display: inline-block ;
    margin: 10px;
    

    
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container:after{
    content: '';
    display: block;
    clear: both;

}


header h1{
    float: left;
    padding: 15px 0;
    color:  #00091a;
   
}

header ul{
    float: right;
    color: darkorange;
    
}

header ul li{
    display: inline-block;
}

header ul li a{
    padding: 25px 20px;
    display: inline-block;
}

header ul li a:hover{
    background-color: #00091a;
    
}
.active{
    background-color: #00091a;
}

.banner{
    height: 80vh;
    background-image: url(gandrung.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.banner h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}

section{
    padding: 10px 0;
}

section h3{
    text-align: center;
    padding: 20px 0;
    
}

.gambar{
    padding-top: 20px;
    margin: 0px 60px;
    background-color:whitesmoke;
    background-size: cover;
    border-radius: 10px;
    
}




.gambar img{
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
    left: 330px;

    
   
}

.gambar h3{
    margin: 0px 390px;
    border-radius: 10px;
    border: 1px solid;
}

.gambar h3:hover{
    background-color: #00091a;
    color: white;
}

.about{
    padding: 20px;
    text-align: center
      
}

.about p{
    word-spacing: 3px;
    line-height: 40px;
}

.about-1{
    padding-bottom: 30px;
    background-color: lightgrey;
}


.about-1 p{

    word-spacing: 3px;
    line-height: 40px;
}

footer{
    padding: 30px 0;
    background-color: #00091a;
    color: white;
    text-align: center;
    
    
}


/* wisata */



.banner-2{
    height: 80vh;
    background-image: url(airterjun.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-2 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-2:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}


/* Teluk ijo*/

.banner-3{
    height: 80vh;
    background-image: url(bgtelukijo.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-3 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-3:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}


/* kawah ijen*/
.banner-4{
    height: 80vh;
    background-image: url(kawahijen.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-4 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-4:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}

/* pulau merah*/
.banner-5{
    height: 80vh;
    background-image: url(pulaumerah.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-5 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-5:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}

/*festifal lembah ijen*/

.banner-6{
    height: 80vh;
    background-image: url(lembahijen.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-6 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-6:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}

/*gandrung sewu*/
.banner-7{
    height: 80vh;
    background-image: url(gandrungsewuu.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-7 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-7:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}

/*pecel pitik*/
.banner-8{
    height: 80vh;
    background-image: url(pecelpitik.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-8 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-8:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}

/*segotempong*/

.banner-9{
    height: 80vh;
    background-image: url(segotempong.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-9 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-9:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}

/*nasi cawuk*/
.banner-10{
    height: 80vh;
    background-image: url(nasicaukk.webp);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-10 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-10:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}

/*event*/

.banner-11{
    height: 80vh;
    background-image: url(bgevent.png);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-11 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-11:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}


/*kuliner*/
.banner-12{
    height: 80vh;
    background-image: url(bgkuliner.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-12 h2{
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid white;
    border-radius: 10px;

}

.banner-12:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 9, 26, .6);
}



